@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  font-weight: 900;
  margin-bottom: 1rem;
}

/* -------------CHECKOUT FORM---------- */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.form {
  width: 30%;
  /* padding: 1rem; */
  margin: 0rem 2rem;
  /* border: 2px solid red; */
  opacity: 0.8;
}

input,
select {
  border: none;
  outline: none;
  width: 100%;
  max-width: 90%;
  height: 1.6rem;
}
label {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h3 {
  margin-bottom: 0.5rem;
}

.input-box {
  border: 2px solid rgb(142, 140, 140);
  opacity: 0.5;
  padding: 0.2rem;
  border-radius: 0.4rem;
}
.contact,
.shipping-form {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.check-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 0;
  font-size: 14px;
}
#check-box {
  width: 1rem;
  height: 1rem;
  margin: 1rem;
}
#check-box:hover {
  cursor: pointer;
}

.big-country {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.country {
  width: 24vw;
  margin-right: 1.5rem;
}
.input-box select {
  width: 85%;
}
.post-code {
  width: 35vw;
}

.continue {
  display: flex;
  justify-content: right;
}
.continue input {
  width: 20%;
  height: 2.5rem;
  background-color: orange;
  color: white;
  border-radius: 0.5rem;
}
.continue input:hover {
  transform: scale(0.9);
  opacity: 0.8;
  cursor: pointer;
}

/* -------PRODUCT------ */
.shopping-card {
  background-color: rgb(238, 238, 238);
  width: 25%;
  border-radius: 0.8rem;
  height: 100%;
  margin: 1rem 0rem;
}

.object img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.object {
  display: flex;
  padding: 0rem 0.5rem;
  width: 8vw;
  height: 18vh;
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
  opacity: 0.95;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin-right: 2rem;
  padding-right: 5rem;
  margin-top: 0.7rem;
  opacity: 0.8;
}

.product-piece {
  border: 2px solid rgb(142, 140, 140);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 0.4rem;
  margin-top: 1.3rem;
  font-size: 14px;
}
.product-piece i:hover {
  cursor: pointer;
}

.price {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* align-items: center; */
  padding: 1rem 1rem;
}

.span {
  margin: 0.5rem 0rem;
}

.sale-price {
  color: orangered;
  font-weight: bolder;
  margin-right: 0.2rem;
}
.first-price {
  text-decoration: line-through;
  font-size: 12px;
}

.shipping,
.total {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  width: 80%;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  border-top: 1px solid rgb(142, 140, 140);
}

.total {
  margin-bottom: 1rem;
}
